# dependencies
node_modules/
**/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# next / builds
.next/
out/
dist/
**/.next/
**/out/
**/dist/
**/*.tsbuildinfo
functions/lib/
outputs/
tools/

# env
.env
.env.*
!.env.example
!**/.env.example
apps/web/.env.local
functions/.env

# firebase
.firebase/

# OS
.DS_Store
