rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && (
        (request.auth.token.email_verified == true
          && request.auth.token.email == 'zerayakkabi@gmail.com')
        || request.auth.token.admin == true
        || request.auth.token.role in ['admin', 'sub_admin']
      );
    }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 15 * 1024 * 1024;
    }
  }
}
